### Primer Notebook
### ESMA 3016
### Edgar Acuna
### Febrero 19, 2018

In [4]:
# Una operacion basica elemental
(3+5*6)/float(12)

2.75

In [5]:
# Entrando el dato con el teclado
age = input("How old are you? ")

How old are you? 55

In [6]:
print "Your age is", age

Your age is 55

In [7]:
print "You have", 65 - age, "years until retirement"

You have 10 years until retirement

In [8]:
name = "Edgar Acuna Fernandez"
length = len(name)

In [9]:
#imprimiendo en Mayuscula e imprimiendo la longitud
big_name = str.upper(name)
print big_name, "tiene", length, "caracteres"

EDGAR ACUNA FERNANDEZ tiene 21 caracteres

In [10]:


names = ["Ana", "Rosa", "Julia"]

In [11]:
names[0]

'Ana'

In [12]:
names[-2]

'Rosa'

In [13]:
#uso de la funcion range
range(5)

[0, 1, 2, 3, 4]

In [14]:


range(5,10)

[5, 6, 7, 8, 9]

In [15]:
range(5,20,3)

[5, 8, 11, 14, 17]

In [16]:
#uso del condicional If
gpa = 3.4
if gpa > 2.0:
    print "Su solicitud de admision es aceptada."

Su solicitud de admision es aceptada.

In [17]:
# Uso  de if/else
gpa = 1.4
if gpa >= 2.5:
    print "Bienvenido al Colegio de Mayaguez!"
else:
    print "Su solicitud de admision ha sido denegada."

Su solicitud de admision ha sido denegada.

In [18]:
#Ejemplo con operadores logicos
Ana=3
Rosa=25
if (Ana <= 5 and Rosa >= 10):
    print "Ana and Rosa"

Ana and Rosa

In [19]:


if (Rosa == 500 or Ana != 5):
     print "Otra vez Aana y Rosa"

Otra vez Aana y Rosa

In [20]:
#Ejemplo de loop
for x in range(1, 4):
    print x, "squared is", x * x

1 squared is 1
2 squared is 4
3 squared is 9

In [21]:


# Otro ejemplo de loop
names = ["Ana", "Rosa", "Julia"]
for name in names:
    print name

Ana
Rosa
Julia

In [22]:
# Ejemplo de break y continue
for value in [3, 1, 4, 1, 5, 9, 2]:
    print "Checking", value
    if value > 8:
        print "Exiting for loop"
        break
    elif value < 3:
        print "Ignoring"
        continue
    print "The square is", value**2

Checking 3
The square is 9
Checking 1
Ignoring
Checking 4
The square is 16
Checking 1
Ignoring
Checking 5
The square is 25
Checking 9
Exiting for loop

In [23]:
#Ejemplo de while
number = 1
while number < 200:
    print number, 
    number = number * 2

1 2 4 8 16 32 64 128

In [24]:
#Sunamndo una constante 10 a una lista
vec1=[3,4,5]
[x +10 for x   in vec1]

[13, 14, 15]

In [25]:
#summando dos vectores componenete a componente
vec2=[9,10,11]
for a,b in zip(vec1,vec2):
    print a+b

12
14
16

In [26]:
#usando el modulo matematico math
import math
math.pi

3.141592653589793

In [27]:
#usando el modulo matematico math con el alias m
import math as m
m.pi

3.141592653589793

In [28]:
#importando solamente la funcion pi del modulo math
from math import pi
pi

3.141592653589793

In [29]:
import pandas as pd
df=pd.read_csv("http://academic.uprm.edu/eacuna/Animals2.csv")

In [30]:
print df

                       Specie       body    brain
0   Lesser short-tailed shrew      0.005     0.14
1            Little brown bat      0.010     0.25
2               Big brown bat      0.023     0.30
3                       Mouse      0.023     0.40
4                  Musk shrew      0.048     0.33
5             Star-nosed mole      0.060     1.00
6            E. American mole      0.075     1.20
7             Ground squirrel      0.101     4.00
8                  Tree shrew      0.104     2.50
9              Golden hamster      0.120     1.00
10                       Mole      0.122     3.00
11                     Galago      0.200     5.00
12                        Rat      0.280     1.90
13                 Chinchilla      0.425     6.40
14                 Owl monkey      0.480    15.50
15            Desert hedgehog      0.550     2.40
16               Rock hyrax-a      0.750    12.30
17          European hedgehog      0.785     3.50
18                     Tenrec      0.900     2.60
19      Artic ground squirrel      0.920     5.70
20  African giant pouched rat      1.000     6.60
21                 Guinea pig      1.040     5.50
22            Mountain beaver      1.350     8.10
23                 Slow loris      1.400    12.50
24                      Genet      1.410    17.50
25                  Phalanger      1.620    11.40
26               N.A. opossum      1.700     6.30
27                 Tree hyrax      2.000    12.30
28                     Rabbit      2.500    12.10
29                    Echidna      3.000    25.00
..                        ...        ...      ...
35      Yellow-bellied marmot      4.050    17.00
36                     Verbet      4.190    58.00
37                    Red fox      4.235    50.40
38                    Raccoon      4.288    39.20
39              Rhesus monkey      6.800   179.00
40               Potar monkey     10.000   115.00
41                     Baboon     10.550   179.50
42                   Roe deer     14.830    98.20
43                       Goat     27.660   115.00
44                   Kangaroo     35.000    56.00
45                  Grey wolf     36.330   119.50
46                 Chimpanzee     52.160   440.00
47                      Sheep     55.500   175.00
48            Giant armadillo     60.000    81.00
49                      Human     62.000  1320.00
50                  Grey seal     85.000   325.00
51                     Jaguar    100.000   157.00
52            Brazilian tapir    160.000   169.00
53                     Donkey    187.100   419.00
54                        Pig    192.000   180.00
55                    Gorilla    207.000   406.00
56                      Okapi    250.000   490.00
57                        Cow    465.000   423.00
58                      Horse    521.000   655.00
59                    Giraffe    529.000   680.00
60             Asian elephant   2547.000  4603.00
61           African elephant   6654.000  5712.00
62                Triceratops   9400.000    70.00
63                Dipliodocus  11700.000    50.00
64              Brachiosaurus  87000.000   154.50

[65 rows x 3 columns]